.main {
  position: relative;
}

.para {
  font-size: 12.5vw;
  margin: 0px;
  letter-spacing: -20px;
  font-weight: 20;
}

.top__div {
  margin-left: 2%;
}

.bottom__div {
  position: absolute;
  top: 50vh;
  margin-left: 2%;
}
