:root {
  font-size: 16px;
}

.header {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  font-size: 2rem;
  border-bottom: 0.1rem solid gray;
}

.content {
  margin: 0.5rem 0 0.5rem 0;
}
