.logo__div {
  margin-top: 2rem;
  text-align: center;
  position: relative;
  height: 8vh;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-left: 2vw;
  cursor: pointer;
}

.tooltip__show {
  visibility: visible;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  top: 2vh;
  left: 14vw;
}
