.content__div {
  display: flex;
  justify-content: center;
}

.img__div {
  width: 90vw;
  height: 60vh;
  margin: 5rem 2rem 0 0;
}

.detail__div {
  border: 1px solid black;
  width: 50rem;
  height: 40rem;
  margin: auto;
  margin: 5rem 0 0 0;
  display: block;
}

.img {
  max-width: 100%;
  max-height: 50%;
  width: 90%;
  height: 40vh;
  margin: auto;
}

.img__para {
  width: 90%;
  margin: auto;
}

.img__a {
  display: block;
  width: 2rem;
  height: 2rem;
}

.img__contatiner {
  position: relative;
  transition: all 1 ease-in-out;
}

.project__intro {
  opacity: 1;
}

.project__introhide {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.logo__div {
  margin-top: 2rem;
  justify-content: center;
}

.projectSpec__div {
  background-color: white;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8 ease-in-out;
}

.projectSpec__divShow {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1 ease-in-out;
}

/* .projectSpec__div :hover {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: 1;
} */

@keyframes displayNone {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
