.content__div {
  display: flex;
  justify-content: center;
}

.img__div {
  width: 90vw;
  height: 60vh;
  margin: 5rem 2rem 0 0;
}

.detail__div {
  border: 1px solid black;
  width: 50rem;
  height: 40rem;
  margin: auto;
  margin: 5rem 0 0 0;
  display: block;
}

.img {
  max-width: 100%;
  max-height: 50%;
  width: 90%;
  height: 40vh;
  margin: auto;
}

.img__para {
  width: 90%;
  margin: auto;
}

.img__a {
  display: block;
  width: 2rem;
  height: 2rem;
}

.img__contatiner {
  border: 1px solid black;
}

.logo__div {
  margin-top: 2rem;
  justify-content: center;
}
