.content__div {
  display: flex;
  justify-content: center;
}

.img__div {
  width: 80vw;
  height: 55vh;
  margin: 5vh 2rem 0 0;
}

@media screen and (max-width: 1300px) {
  .img__div {
    width: 70rem;
    height: 30rem;
    margin: 2rem 2rem 0 0;
  }
}
